1Q.While naming a variable one have follow the following rules -

Solution for 1Q 
1. The variables name should start with an alphabet or an underscore.
#For example

In [1]:
A = 10

In [2]:
A

10

In [3]:
a=26

In [4]:
a

26

In [5]:
print(a)
print(A)

26
10

2. A variable name should not start with a number , it will result in an syntax error

In [6]:
2A = 15

SyntaxError: invalid decimal literal (2547310062.py, line 1)

2. No white spaces are allowed while naming a variable

In [7]:
My name = "Lakshmi"

SyntaxError: invalid syntax (1450469735.py, line 1)

3. A Variable name can start with an under score

In [8]:
_My_name = "Lakshmi"

In [9]:
print(_My_name)

Lakshmi

4. Other than under score no other special characters are allowed.

In [11]:
$a=10

SyntaxError: invalid syntax (1714076588.py, line 1)

2Q . If we declare a restricted keyword as a variable name then it would result in syntax error , because the keyword already have some fixed value stored in it and one cannot reassign any further values.
For example -

In [17]:
True = 10

SyntaxError: cannot assign to True (2227483689.py, line 1)

3Q.Yes one can declare string as variable name , as string is a set 
of characters so the name of a variable can be a string 
for example -

In [18]:
name = "Lakshmi"

In [19]:
name

'Lakshmi'

4Q. Yes it is possible for us to decalre _ as variable name 
for example -

In [21]:
_= 20

In [22]:
_

20

5Q . The variables in python are dynamic , because there is no necessity to declare the type of variable when declaring them.
For example -

In [3]:
c = 10

In [4]:
c

10

In [6]:
type(c)

int

In the above example even though the type of data is not declared while 
decalring the variable , python has automatically analysed the type of data .
this makes the variables in python dynamic.

Below are some more examples to illustrate the dynamic nature of variables in python -

In [8]:
d = 10.56

In [9]:
type(d)

float

In [10]:
name = "Lakshmi"

In [11]:
type(name)

str

In [12]:
name

'Lakshmi'